@keyframes navgrow{
    from:{
        font-size: 2em;
    }
    to:{
        font-size: 4em;
    }
}


body{
    background-color: #;
}

.navbar ul > li {
    display: inline;
    list-style-type: none;
    color: #f5f5f5;
    font-family: "Segoe UI";
    font-size: 2em;
    margin: 20px;
    text-shadow: 1px 1px 4px black;

}

.navbar ul > li:hover {

}

.navbar {
    background-color: #9A91FF;
    border-radius: 40px;
}


#form{
    float: left;
    clear: both;
    display: block;
    padding-left: 50px;
}

.tri-fig{
    float: left;
    height: auto;
    width: auto;
    max-width: 100%;
    display:block;
    padding: 40px;
    padding-bottom: 80px;
    margin: 10px;
}

.tri-label{
    display: inline;
    text-align: center;
    width: 174px;
}

.num{
    display: inline;
    width: 174px;
    margin: 2px;
}

.tri-submit{
    display: block;
    float: left;
    
}